CodeSource/Web/Version*/racine_recits_esclave/racine/writable/*
.DS_Store
CodeSource/.DS_Store
CodeSource/Web/.DS_Store
CodeSource/Web/Version4.0/.DS_Store
CodeSource/Web/Version4.0/racine_recits_esclave/.DS_Store
